.footer {
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
}

header {
background: #eee;
margin: 0 0 10px;
}

.menu .nav {
	margin: 0 0 5px;
	padding-bottom: 5px;
	border-bottom: 1px #eee solid;
}